/* Styling for p5.js */

/* Core Styling */

body {
   width: 95%;
   margin: 10px auto 0 auto;
}

header {
   position: fixed;
   height: 100px;
   width: 95%;
   background-color: rgba(255, 105, 180, 0.5);    /* HotPink 50% */
   border: ridge 2px #cccccc;
   padding: 15px 0;
}

/* Styling for Headlines */

h1, h2, h3, h4, h5, h6 {
   font-family: 'Alegreya Sans', 'Helvetica', sans-serif;
   font-weight: 700;
   color: rgb(225, 105, 180); /* HotPink */
   margin-left: 15px;
   margin-top: 15px;
   margin-bottom: 12px;
}

h1 {
   font-size: 3em;
}

h2 {
   font-size: 2.25em;
}

h3 {
   font-size: 2em;
}

h4 {
   font-size: 1.4em;
}

h5 {
   font-size: 1em;
}

header h1,
header h2 {
   color: #ffffff; /* White */
   float: left;
   margin-left: 145px;
}

header h1 {
   margin-top: -110px;
   margin-bottom: 10px;
}

header h2 {
   margin-top: -60px;
}

p {
   font-family: 'Alegreya', 'Times', serif;
   color: rgba(255, 20, 147, 0.75);  /* DeepPink 75% */
   font-size: 20px;
   width: 700px;
   line-height: 26px;
   margin-bottom: 12px;
   margin-left: 15px;
}

/* Link Styling */

a {
   text-decoration: none;
   color: rgba(255, 20, 147, 0.75); /* DeepPink 75% */
   display: inline-block;
   padding: 0 10px;
}

a:visited {
   color: rgba(255, 20, 147, 0.75); /* DeepPink 75% */
   background-color: #ffffff;
}

a:hover {
   color: #ffffff;
   background-color: rgb(255, 20, 147);   /* DeepPink */
   transition: background-color 0.75s;
   transition: color 1s;
}

a:active {
   color: rgba(255, 0, 0, 0.75); /* Red 75% */
}

/* Classes and ids */

.btn {
   display: block;
   margin-top: 15px;
   width: 150px;
   height: 35px;
   border: solid 2px #cccccc;
   border-radius: 15px;
   background-color: rgba(225, 20, 147, 0.65);  /* DeepPink 65% */
   font-family: 'Alegreya Sans', 'Helvetica', sans-serif;
   font-size: 20px;
   font-weight: 700;
   color: #ffffff;
   font-variant: small-caps;
   cursor: pointer;
}

.btn:hover {
   color: rgb(225, 20, 147);  /* HotPink */
   background-color: rgba(255, 255, 255, 0.5);  /* White 50% */
   transition: background-color 0.5s;
   transition: color 1s;
}

#logo {
   display: block;
   margin-top: -5px;
   margin-left: 15px;
}

#mainContent {
   padding-top: 165px;
}
